/* Predefined properties*/
:root {
  --colorBg: #fddc9b;
  --colorNavBar: #f63522;
  --colorBoxBg: #fff2ec;
  --colorBrownTables: #693b17;
  --colorBrown: #773f2f;
  --colorYellow: #fac74f;
  --colorWhiteish: #fffeec;
  --logotypeFont: "Chewy";
  --principalFont: "Alegreya Sans", sans-serif;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
}
.container-kitchen {
    display: flex;
    flex-direction: row;
    width: 113rem;
    height: 75rem;
    background-color: var(--colorBg);
}

.body-active-order{
  display: flex;
  flex-direction: column;
}
.tableOrders {
  width: 91.2rem;
  height: 63.6rem;
  background-color: var(--colorWhiteish);
  border: 0.1rem solid var(--colorNavBar);
  border-radius: 2rem;
  font-weight: bold;
  font-family: var(--principalFont);
  color: var(--colorBrown);
  font-size: 15rem;
  margin-left: 5rem;
  

}
.table-order-header {
  display: flex;
  background-color: var(--colorBrownTables);
  font: var(--logotypeFont);
  font-family: "Chewy", cursive;
  font-size: 10rem;
  color: var(--colorWhiteish);
  align-self: flex-start;
  border-radius: 1.5rem 1.5rem 0 0;
  width: 91.2rem;
  padding-left: 1rem;
}
.order-table-body {
  display: flex;
  flex-direction: column;
  min-height: 46rem;
  max-height: 46rem;
  overflow-y: scroll;
}

.container-logo-burger-orders {
  display: flex;
  justify-content: flex-end;
  width: 85rem;
  margin-top: 0;
}
.seccion-order {
  display: flex;
  flex-direction: column;
  font: var(--principalFont);
  font-size: 3.2rem;
  
}
.number-table {
  display: flex;
  font: var(--principalFont);
  font-size: 4rem;
  font-weight: bold;
  justify-items: flex-start;
}
.box-cout-product {
  display: flex;
  flex-direction: column;
  font: var(--principalFont);
  font-size: 4rem;
  justify-items: flex-start;
  text-align: start;
}
.box-cout-product-waiters{
  display: flex;
  flex-direction: row;
  font: var(--principalFont);
  font-size: 4rem;
  text-align: start;
  width: 60rem;
}
.product-qtys-waiters{
  width: 30rem;
}
td {
  font-size: 3rem;
  width: 14rem;
  word-wrap: break-word;
  text-align: center;
}
.recived-button-Box {
  display: flex;
  flex-direction: column;
  font: var(--principalFont);
  font-size: 4rem;
  margin-left: 11rem;
}
.done {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.4rem;
  height: 5.6rem;
  background-color: var(--colorNavBar);
  border: 2px solid var(--colorNavBar);
  border-radius: 1.6rem;
  font: var(--logotypeFont);
  font-family: 'Chewy', cursive;
  font-weight: 400;
  font-size: 4.8rem;
  color: var(--colorWhiteish);
  margin-top: 5rem;
  margin-left: 18rem;
}
.mgs-recived{
    width: 35rem;
    font: var(--principalFont);
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--colorNavBar);
}

.container-order{
    display:flex ;
    flex-direction: row;
    width: 80rem;
    margin-left: 5.6rem;
}

.role-letters-chefs {
    font-family: 'Chewy', cursive;
    color: var(--colorNavBar);
    font-size: 5rem;
    height: 6rem;
    margin-left: 85rem;

}
.order-colum{
    width: 30rem;
}
.mgs-preparation-time{
  width: 40rem;
    font: var(--principalFont);
    font-weight: 700;
    font-size: 3rem;
}
.mgs-delivered{
  width: 40rem;
    font: var(--principalFont);
    font-weight: 700;
    font-size: 3rem;
    color: #48BF53;
    margin-top: 3rem;
}

.mgs-delivered-waiters{
  width: 40rem;
  font: var(--principalFont);
  font-weight: 700;
  font-size: 3rem;
  color: #48BF53;
}
.msg-total-price{
  font: var(--principalFont);
  font-weight: 700;
  font-size: 3rem;
  color: var(--colorNavBar);
}

.container-order-prepared{
  display:flex ;
    flex-direction: row;
    width: 80rem;
    margin-left: 6rem;
}
.mgs-Box{
  display: flex;
  flex-direction: column;
  font: var(--principalFont);
  font-size: 4rem;
  margin-left: 11rem;
}

.mgs-box-waiters{
  display: flex;
  flex-direction: column;
  font: var(--principalFont);
  font-size: 4rem;
  margin-left: 11rem;
  width: 40rem;
  justify-content: space-between;
}
.logo-table-box-chefs{
display:flex;

}


 

