/* Predefined properties*/
:root {
    --colorBg: #FDDC9B;
    --colorNavBar: #F63522;
    --colorBoxBg: #FFF2Ec;
    --colorBrownTables: #693B17;
    --colorBrown: #773F2F;
    --colorYellow: #FAC74F;
    --colorWhiteish: #FFFEEC;
    --logotypeFont: 'Chewy';
    --principalFont: 'Alegreya Sans', sans-serif;
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%; 
}
.modalKitchen {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 113rem;
    height: 75rem;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .modal-kitchen-container {
    width: 40rem;
    height: 21rem;
    background-color: var(--colorNavBar);
    border-radius: 1.5rem;
  }
  
  .modalKitchen.is-open {
    display: flex;
    justify-content: center;
  }

  .buttons-container{
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    margin-top: 2rem;
  }

  .check{
   display: flex;
   width: 7.8rem;
   height: 5rem;
   border-radius: 1.5rem;
   background-color: #48BF53  ;
   align-items: center;
   justify-content: center;
   
  }
  .close{
    display: flex;
    width: 7.8rem;
    height: 5rem;
    border-radius: 1.5rem;
    background-color: var(--colorWhiteish);
    align-items: center;
    justify-content: center;
  }

  .confirm-msg{
    font-family: var(--principalFont);
    font-weight: bold;
    font-size: 4rem;
    color: var(--colorWhiteish);
    text-align: center;
  }

  .confirm-kitchen-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    width: 39rem;
    height: 21rem;
}