header {
    width: 103rem;
    height: 8rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.search-icon-container {
    background-color: var(--colorNavBar);
    padding: 1rem 2rem;
    border-radius: 1.6rem 0 0 1.6rem;
}

.search-input {
    padding-left: 1rem;
    border: 0.1rem solid var(--colorNavBar);
    border-radius: 0 1.6rem 1.6rem 0;
    flex-grow: 1;
    background-color: var(--colorWhiteish);
    color: var(--colorBrown);
    font-size: 3.2rem;
    font-family: var(--principalFont);
}

.search-bar-flex {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem;
    height: 5.7rem;
    width: 62.7rem;
}

.search-img {
    width: 3.2rem;
    height: 3.8rem;
}
#partners-header {
    width: auto;
}
#partners-header tr {
    justify-content: space-around;
    width: 100%;
}
#partners-header tr th {
    flex-grow: 1;
}
#partners {
    width: auto;
    display: block;
    margin: 3rem 3rem 0 3rem;
}

#partners-body tr td {
    width: auto;
}

.product-name {
    width: 13rem;
}

#partners-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.add-img {
    margin-left: 1rem;
    height: 5rem;
}

a {
    text-decoration-color: white;
}

a:focus {
    background-color: #fac74f;
}

a.active {
    background-color: #fac74f;
}

.product-img {
    width: 7rem;
}

.product-actions {
    margin-left: 1.5rem;
    margin-right: 2rem;
}

.td-partners {
    margin-right: 9rem;
}
